<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo_circle"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myormawa"
        android:usesCleartextTraffic="true">

        <!-- Splash Screen (Launcher) -->
        <activity
            android:name=".views.splash.SplashActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Dashboard Student -->
        <activity
            android:name=".views.dashboard.student.DashboardStudentActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />

        <!-- Change Email Flow -->
        <activity
            android:name=".views.dashboard.student.ChangeEmailSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".views.dashboard.student.ChangeEmailVerificationActivity"
            android:exported="true" />
        <activity
            android:name=".views.dashboard.student.ChangeEmailActivity"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />

        <!-- Onboarding -->
        <activity
            android:name=".views.onboarding.OnboardingActivity"
            android:exported="false" />

        <!-- Authentication -->
        <activity
            android:name=".views.auth.RoleSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".views.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".views.auth.RegisterVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".views.auth.RegisterSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".views.auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".views.auth.ForgotPasswordVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".views.auth.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".views.auth.SetNewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".views.auth.ResetPasswordSuccessActivity"
            android:exported="false" />

        <!-- Profile & Settings -->
        <activity
            android:name=".views.dashboard.student.DataPribadiActivity"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.dashboard.student.ChangePasswordOldActivity"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.dashboard.student.ChangePasswordNewActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <!-- Features -->
        <activity
            android:name=".views.dashboard.student.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".views.dashboard.student.OprecActivity"
            android:exported="false" />
        <activity
            android:name=".views.dashboard.student.EventActivity"
            android:exported="false" />
        <activity
            android:name=".views.dashboard.student.CompetitionActivity"
            android:exported="false" />
        <activity
            android:name=".views.dashboard.student.ScholarshipActivity"
            android:exported="false" />

        <!-- Font Metadata -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
